/*==================== Cube 3D ====================*/

.cube {
    position: relative;
    width: 250px;
    height: 30px;
    transform-style: preserve-3d;
    transition: transform 200ms ease-in-out 300ms;
    background-color: coral;
}

.cube:hover {
    transform: translateY(50%) rotateX(-90deg);
}

.cube div {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
}

.cube_face1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #74d2e7;
}

.cube_face1:hover {
    color: #000;
    background-color: #fff;
}

.cube_face2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #a51890;
    transform-origin: bottom;
    transform: translateY(-100%) rotateX(90deg);
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.cube_face2 a {
    color: #fff;
}