@charset "UTF-8";

/*==================== font-face ====================*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/*  ==================== html - body - box_main - header ====================*/

html {
    font-size: 62.5%;
}

body {
    max-width: 1440px;
    font-weight: normal;
    font-style: normal;
    font-size: 1.6rem;
    background-color: rgb(34, 34, 34);
    margin: 0 auto;
}

.box_main {
    max-width: 1440px;
    min-width: 360px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 50px;
    background-color: #fff;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 100%;
    box-sizing: border-box;
}

header img {
    padding-bottom: 20px;
}

header div {
    width: 860px;
}

header a {
    padding: 50px 25px 20px 25px;
    color: #0065FC;
}

header a:hover {
    border-top: 2px solid #0065FC;
    padding-top: 48px;
}

header :nth-child(2) {
    order: 2;
}

header :nth-child(3) {
    order: 3;
}

header :nth-child(4) {
    order: 4;
    font-weight: bold;
}

/*====================  Section - Article - Aside ====================*/

section {
    width: 100%;
    box-sizing: border-box;
}

.fas {
    text-align: center;
}

/*-------------------- <section class="box_search"> -------------------- */

section.box_search {
    font-size: 2.2rem;
    padding-top: 16px;
}

section.box_search p {
    line-height: 35px;
    font-size: 1.6rem;
}

section.box_search div {
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

section.box_search div i {
    width: 50px;
    line-height: 50px;
    font-size: 1.8rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #f2f2f2;
}

#city_name {
    width: 235px;
    height: 50px;
    box-sizing: border-box;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0 15px;
    border: none;
    transition: border 300ms ease-in-out;
    border: 1px solid #f2f2f2;
    background-color: #fff;
    font-family: Raleway, arial, "sans-serif";
}

#city_name:focus {
    outline: none;
    border: 1px solid #0065FC;
    transition: border 300ms ease-in-out;
}

#city_name_submit {
    width: 135px;
    height: 50px;
    border: none;
    box-sizing: border-box; 
    color: #fff;
    background-color: #0065FC;
    font-family: Raleway, arial, "sans-serif";
    font-size: 1.8rem;
    font-weight: bold;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 300ms ease-in-out 300ms;
    cursor: pointer;
    
}

#city_name_submit:hover {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: all 300ms ease-in-out 300ms;
}

#city_name_button {
    border: none;
    box-sizing: border-box;
    padding: 0;
    background-color: rgba(0, 0 , 0, 0)
}

#city_name_button i {
    border-radius: 15px;
    transition: border-radius 300ms ease-in-out 300ms; 
    color: #fff;
    background-color: #0065FC;
    cursor: pointer;
}

#city_name_button i:hover {
    border-radius: 0;
    transition: border-radius 300ms ease-in-out 300ms;
}

form {
    display: flex;
}

/*-------------------- <section class="filter"> -------------------- */

section.filter {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 15px;
    padding-left: 10px;
    font-size: 1.8rem;
    box-sizing: border-box;
}

section.filter h3 {
    margin-bottom: 15px;
    padding-right: 20px;
}

section.filter a {
    border-radius: 50px;
    font-weight: bold;
    color: black;
}

section.filter i {
    width: 50px;
    line-height: 50px;
    font-size: 1.8rem;
    border-radius: 50px;
    background-color: #DEEBFF;
}

section.filter span {
    color: black;
    padding: 0 20px 0 10px;
}

/*-------------------- <section class="information"> -------------------- */

div.information {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    margin: 0 0 24px 0;
    font-size: 1.6rem;
    padding-top: 8px;
}

div.information img {
    padding-right: 10px;
}


/*-------------------- <article> -------------------- */

div.article_aside {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* align-content: flex-start; */
    max-width: 880px;
    min-height: 625px;
    box-sizing: border-box;
    padding: 42px 38px 50px 38px;
    border-radius: 25px;
    background-color: #f2f2f2;
}

article h2 {
    width: 100%;
}

article div.article_item {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 23px;
    background-color: #fff;
    border: 2px solid #f2f2f2;
    box-shadow: 2px 2px 5px #f2f2f2;
}

article div.article_item img {
    margin: 0 auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

article div.article_item p {
    padding-left: 10px;
}

article div.article_item p.title {
    font-weight: 700;
}

article div.article_item p.price {
    font-size: 1.4rem;
}

article div.article_item p.opinion .opinion_yes {
    color: #0065FC;
    font-size: 1.8rem;
}

article div.article_item p.opinion .opinion_no {
    color: grey;
    font-size: 1.8rem;
}

article div.article_next a {
    display: inline-block;
    color: black;
    font-size: 1.8rem;
    font-family: Raleway, arial, "sans-serif";
    font-weight: 700;
    margin: 20px 5px 0 0;
    
}

.article_next {
    align-self: flex-end;
    border-bottom: 2px solid transparent;
}

.article_next:hover {
    border-bottom: 2px solid black;
}

/*-------------------- <aside> -------------------- */

aside {
    width: 415px;
    box-sizing: border-box;
    padding: 35px 30px;
    border-radius: 25px;
    background-color: #f2f2f2;
}

div .aside_popular {
    width: 100%;
    margin-bottom: 25px;
}

div .aside_popular h2 {
    display: inline-block;
    font-weight: bold;
    width: 90%;
}

div .aside_popular i {
    font-size: 2.5rem;
}

.aside_item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 340px;
    min-height: 135px;
    margin-bottom: 30px;
    padding: 6px 4px;
    background-color: #fff;
    border-radius: 15px;
}

.aside_item img {
    width: 125px;
    height: 135px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.aside_item div {
    width: 210px;
    height: 135px;
    line-height: 20px;
    box-sizing: border-box;
    padding: 10px 40px 0px 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.aside_item div p {
    font-size: 1.4rem;
}

.aside_item div p.title {
    font-size: 1.6rem;
}

.aside_item div p span {
    display: inline-block;
    margin-top: 35px;
    color: #0065FC;
    font-size: 1.8rem;
}

.aside_item div p .opinion_no {
    color: rgba(86, 86, 100, 0.4);
}

/*-------------------- <section class="activities"> -------------------- */

section.activities {
    max-width: 1340px;
    margin: 55px 0 50px 0;
}

section.activities h2 {
    width: 100%;
    height: 25px;
    padding-bottom: 22px;
    font-weight: bold;
}

div.activities_box {
    height: 450px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-between;
    background-color: #fff;
}

figure {
    display: flex;
    flex-flow: column wrap;
}

figure img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

figure figcaption {
    box-sizing: border-box;
    padding: 0 15px;
    font-weight: 700;
    font-family: Raleway, arial, "sans-serif";
    line-height: 55px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid #f2f2f2;
    box-shadow: 2px 2px 5px #f2f2f2;
}

/*==================== footer ====================*/

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1440px;  
    box-sizing: border-box;
    background-color: #f2f2f2;

}

footer section {
    max-width: 340px;
    padding: 50px 50px 35px 50px;
    overflow: auto;
}

footer section h3 {
    padding-bottom: 20px;
}

footer section p a {
    display: inline-block;
    border-bottom: 2px solid transparent;
    margin-bottom: 12px;
}

footer section a:hover {
    border-bottom: 2px solid black;
}

/*====================  Various tags ====================*/

::selection {
    color: #fff;
    background-color: #ff4500;
}

::selection {
    color: #fff;
    background-color: #ff4500;
}

a {
    color: black;
    text-decoration: none;
}

p, h2, h3, h4, h5, h6, a, figure {
    margin: 0;
    padding: 0;
    font-family: Raleway, arial, "sans-serif";
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.8rem;
}

div.article_item img, div.aside_item img, figure img {
    clip-path: circle(100%);
    transition: clip-path 600ms ease-in-out 300ms;
}

div.article_item:hover img, div.aside_item:hover img, figure:hover img {
    clip-path: circle(50%);
    transition:  clip-path 300ms ease-in-out 300ms;
}

/*==================== Cube 3D ====================*/

.cube {
    margin: 0 0px 15px 0;
    height: 50px;
    transform-style: preserve-3d;
    transition: transform 200ms ease-in-out 300ms;
}

.cube:hover {
    transform: translateY(50%) rotateX(-90deg);
}

.cube div {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 46px;
    border: 2px solid #d9d9d9;
    border-radius: 50px;
}
div.cube :nth-child(4) {
    background-color: darkgoldenrod;
}

.cube_face1 i, .cube_face2 i {
    margin-left: -2px;
}

.cube_face2 {
    transform-origin: bottom;
    transform: translateY(-100%) rotateX(90deg);
}

.cube_face2 .fas {
    color: #fff;
    background-color: #0065FC;
}

#filter_economy {
    width: 230px;
}

#filter_family {
    width: 180px;
}

#filter_romantic {
    width: 220px;
}

#filter_pets_allowed {
    width: 280px;
}

/*==================== media ====================*/

@media all and (max-width: 1430px) {
    #box_article_aside {
        flex-flow: column nowrap;
        align-items: center;
    }
    
    aside {
        order: -1;
        margin: 0 0 30px 0;
    }
}

@media all and (max-width: 1150px) {
    section div.activities_box {
        display: flex;
        flex-flow: column wrap;
        align-content: space-evenly;
        height: 650px;
    }

    section div.activities_box figure {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 1094px) {
    section.filter h3 {
        width: 100%;
    }
}

@media all and (max-width: 980px) {
    article #lodging {
        margin-bottom: 30px;
    }

    article .article_item {
        margin-right: 15px;
        margin-bottom: 15px;
    }

    article .article_next {
        width: 100%;
        margin-top: 15px;
    }
}

@media all and (max-width: 850px) {
    section div.activities_box {
        height: max-content;
    }

    section div.activities_box figure {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 760px) {
    footer {
        flex-flow: column nowrap;
        align-items: center;
    }
}

@media all and (min-width: 751px) {
    #city_name_button {
        display: none;
    }
}

@media all and (max-width: 750px) {
    .box_main {
        padding: 0 10px;
    }

    header {
        flex-flow: row wrap;
        justify-content: space-between;
        padding-top: 30px;
    }

    header img {
        margin: 0;
    }

    header div {
        flex: 1 1 63%;
    }

    header a {
        border-bottom: 2px solid rgba(0, 0, 0, 0);
        padding-top: 15px;
    }

    header a:hover {
        padding-top: 15px;
        border: 0;
        border-bottom: 2px solid #0065FC;
    }

    header :nth-child(4) {
        order: 1;
    }

    section #box_search_form {
        justify-content: center;
    }

    #city_name {
        width: 245px;
        padding-right: 25px;
    }

    #city_name_button {
        margin-left: -12px;
    }

    #city_name_submit {
        border: 0px;
        display: none;
    }
}

@media all and (max-width: 635px) {
    header div {
        flex: 1 1 60%;
    }
    article {
        background-color: #fff;
    }

    div.article_aside {
        justify-content: center;
    }

    .article_aside article {
        justify-content: center;
    }
}

@media all and (max-width: 429px) {
    section.filter {
        justify-content: center;
    }
}